<html>
  <head>
    <title>Angular Session</title>
  </head>
  <body>
    <div class="banner">
      <app-navbar></app-navbar>
      <div class="content">
        <h1>DESIGN BY YOUR PATH</h1>
        <p>When you get tired, learn to rest,not quit</p>
        <div>
          <button type="button" (click)="goToAboutPage()"><span></span>Go to about page</button>
          <button type="button"><span></span>Go to contact page</button>
        </div>
      </div>
      <div class="container" style="margin-top: 1000px">
        <app-product-list></app-product-list>
        <!-- <div class="card">
          <div class="title">
            <h1>Umur Köse</h1>
            <h2>"Frontend Developer"</h2>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <div class="title">
            <h1>Umur Köse</h1>
            <h2>"Frontend Developer"</h2>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <div class="title">
            <h1>Umur Köse</h1>
            <h2>"Frontend Developer"</h2>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <div class="title">
            <h1>Umur Köse</h1>
            <h2>"Frontend Developer"</h2>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <div class="title">
            <h1>Umur Köse</h1>
            <h2>"Frontend Developer"</h2>
          </div>
          <div class="circle"></div>
        </div>
        <div class="card">
          <div class="title">
            <h1>Umur Köse</h1>
            <h2>"Frontend Developer"</h2>
          </div>
          <div class="circle"></div>
        </div> -->
      </div>
    </div>
  </body>
</html>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet" />
<script src="https://kit.fontawesome.com/c8ee3dd930.js"></script>
